@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

$bg-color: #1f1f38;
$bg-color-variant: #2c2c6c;
$color-primary: #4db5ff;
$color-primary-variant: rgba(77, 181, 255, 0.4);
$color-white: #fff;
$color-light: rgba(255, 255, 255, 0.6);
$container-wodth-lg: 75%;
$container-wodth-md: 86%;
$container-wodth-sm: 90%;
$transistion: all 400ms ease;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: 0;
  outline: 0;
  list-style: none;
  text-decoration: none;
}

// :root {
//   --color-bg: #{$bg-color};
//   --color-bg-variant: #2c2c6c;
//   --color-primary: #4db5ff;
//   --color-primary-variant: rbga(77, 181, 255, 0.4);
//   --color-white: #fff;
//   --color-light: rgba(255, 255, 255, 0.6);

//   --container-wodth-lg: 75%;
//   --container-wodth-md: 86%;
//   --container-wodth-sm: 90%;
// }

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

body {
  font-family: 'Poppins', sans-serif;
  background: $bg-color;
  color: $color-white;
  line-height: 1.7;
  background-image: url('https://www.transparenttextures.com/patterns/stardust.png');
}

.container {
  width: $container-wodth-lg;
  margin: 0 auto;
}

h1 {
  font-size: 2.5rem;
}
h1,
h2,
h3,
h4,
h5 {
  font-weight: 500;
}
section {
  margin-top: 8rem;
  // height: 100vh;
  & > h2,
  > h5 {
    text-align: center;
    color: $color-light;
  }
  & > h2 {
    color: $color-primary;
    margin-bottom: 3rem;
  }
}

.text-leght {
  color: $color-light;
}

a {
  color: $color-primary;
  transition: $transistion;
  &:hover {
    color: $color-white;
  }
}

.button {
  width: max-content;
  display: inline-block;
  color: $color-primary;
  padding: 0.75rem 1.2rem;
  border-radius: 0.4rem;
  cursor: pointer;
  border: 1px solid $color-primary;
  transition: $transistion;
  &:hover {
    background: $color-white;
    color: $bg-color;
    border-color: transparent;
  }
  &-primary {
    background: $color-primary;
    color: $bg-color;
  }
}

img {
  display: block;
  width: 100%;
  object-fit: cover;
}

//MEDIA TABLETS

@media screen and (max-width: 1024px) {
  .container {
    width: $container-wodth-md;
  }
  section {
    margin-top: 6rem;
  }
}

//MEDIA PHONES

@media screen and (max-width: 600px) {
  .container {
    width: $container-wodth-sm;
  }
  section {
    & > h2 {
      margin-bottom: 2rem;
    }
  }
}
